footer {
    position: absolute;
    width: calc( var(--coeff) *
        (var(--width-main) + var(--width-left-bar) + var(--width-right-bar))
    );
    height: calc(var(--coeff) * var(--footer-height));
    left: 0px;
    top: calc(var(--coeff) * (var(--height-main) - var(--footer-height)));

    display: flex;
    align-items: center;
    
    background: #12303D;
}

footer ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0;
}

footer li {
    list-style: none;
    background: var(--white);
    width: calc(var(--coeff) * var(--width-icon));
    height: calc(var(--coeff) * var(--height-icon));
    border-radius: 50%;
    margin-left: calc(var(--coeff) * 20px);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    max-width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    cursor: pointer;
}

#phone-number {
    display: none;
    color: var(--white);
    font-weight: 800;
    font-size: calc(var(--coeff) * var(--font-size-sm));
}