/* portfolio is the bottom section: contains videos and skills */

#portfolio {
    position: absolute;
    height: calc(var(--coeff) * (var(--height-main) / 3));
    width: calc(var(--coeff) * var(--width-main));
    top: calc(var(--coeff) * 2 * (var(--height-main) / 3));

    background: var(--background-color);
}