/* portfolio is the bottom section: contains videos and skills */

#portfolio {
    position: absolute;
    height: calc(var(--coeff) * (var(--height-main) / 3));
    width: calc(var(--coeff) * var(--width-main));
    top: calc(var(--coeff) * 2 * (var(--height-main) / 3));

    display: flex;
    justify-content: center;

    background: var(--background-color);
}

#skills {
    position: relative;
    width: calc(var(--coeff) * (var(--width-skills)));
    height: calc(var(--coeff) * var(--height-skills));

    margin-top: calc(var(--coeff) * var(--margin-md));

    z-index: 1;
}

.skills-figure, .video-figure {
    margin: 0;
    padding: 0;
}

.skills {
    width: calc(var(--coeff) * (var(--width-skills)));
    height: calc(var(--coeff) * var(--height-skills));
}

.tiny-skills {
    position: absolute;
    width: calc(var(--coeff) * (var(--width-skills) / 4));
    height: calc(var(--coeff) * (var(--height-skills) / 4));
    bottom: calc(var(--coeff) * var(--padding-sm));
    right: calc(var(--coeff) * var(--padding-sm));

    cursor: pointer;
    box-shadow: 3px 3px var(--yellow);
}

#mech-icon {
    position: absolute;
    top: calc(var(--coeff) * 30px);
    left: calc(var(--coeff) * 40px);
    width: calc(var(--coeff) * 60px);
}

#video-left-left {
    top: calc(var(--coeff) * 120px);
    left: calc(var(--coeff) * 40px);
}

#video-center-left {
    bottom: calc(var(--coeff) * 45px);
    left: calc(var(--coeff) * 200px);
}

#video-center-right {
    bottom: calc(var(--coeff) * 45px);
    right: calc(var(--coeff) * 110px);
}

#video-right-right {
    top: calc(var(--coeff) * 50px);
    right: calc(var(--coeff) * 40px);      
}

#caption-left-left {
    position: absolute;
    font-size: calc(var(--coeff) * var(--font-size-xsm));
    top: calc(var(--coeff) * 105px);
    left: calc(var(--coeff) * 40px);
}

#caption-center-left {
    position: absolute;
    font-size: calc(var(--coeff) * var(--font-size-xsm));
    bottom: calc(var(--coeff) * (50px + var(--height-video)));
    left: calc(var(--coeff) * 200px);
}

#caption-center-right {
    position: absolute;
    font-size: calc(var(--coeff) * var(--font-size-xsm));
    bottom: calc(var(--coeff) * (50px + var(--height-video)));
    right: calc(var(--coeff) * 110px);
}

#caption-right-right {
    position: absolute;
    font-size: calc(var(--coeff) * var(--font-size-xsm));
    top: calc(var(--coeff) * 35px);
    right: calc(var(--coeff) * 40px);
    z-index: 34;
}