/* resume is the middle section: contains cover letter / work exp / education */

#resume {
    position: absolute;
    height: calc(var(--coeff) * (var(--height-main) / 3));
    width: calc(var(--coeff) * var(--width-main));
    top: calc(var(--coeff) * (var(--height-main) / 3));

    background: var(--white);
}

#cover-letter {
    position: absolute;
    height: calc(var(--coeff) * (var(--height-main) / 3));
    width: calc(var(--coeff) * (var(--width-main) / 2 - 2 * var(--padding-sm)));

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1;
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);

    font-size: calc(var(--coeff) * var(--font-size-sm));
}

#experience {
    position: absolute;
    height: calc(var(--coeff) * (var(--height-main) / 3) - 2 * var(--padding-md));
    width: calc(var(--coeff) * (var(--width-main) / 2 - 4 * var(--padding-sm)));
    left: calc(var(--coeff) * var(--width-main) / 2);
    border-radius: calc(var(--coeff) * 4 * var(--padding-sm));

    display: flex;
    flex-direction: column;
    justify-content: start;

    z-index: 1;
    padding-left: calc(var(--coeff) * var(--padding-sm));
    padding-right: calc(var(--coeff) * var(--padding-sm));
    padding-bottom: calc(var(--coeff) * var(--padding-md));

    font-size: calc(var(--coeff) * var(--font-size-xsm));
    color: var(--white);

    background: var(--blue-black);
}

.miniature {
    position: absolute;
    bottom: calc(var(--coeff) * var(--padding-md));
    right: calc(var(--coeff) * var(--padding-md));
    border-radius: calc(var(--coeff) * var(--padding-sm));

    z-index: 1;
    padding-left: calc(var(--coeff) * var(--padding-sm));
    padding-right: calc(var(--coeff) * var(--padding-sm));

    font-size: calc(var(--coeff) * var(--font-size-tiny));

    background: var(--white);
    color: var(--blue-black);

    cursor: pointer;
    box-shadow: 3px 3px var(--yellow);
}

.exp-list {
    margin-top: calc(var(--coeff) * var(--margin-md));
}

.miniature .exp-list {
    margin-top: 0;
}
