:root {
    /* Colors */
    --background-color: #E5E5E5;
    --blue-black: #12303D;
    --yellow: #D0A939;
    --white: white;

    /* Font */
    --font-size-xlg: 36px;
    --font-size-lg: 24px;
    --font-size-md: 16px;
    --font-size-sm: 12px;
    --font-size-xsm: 10px;
    --font-size-tiny: 3px;

    /* Padding - Margin */
    --main-top-margin: 20px;
    --main-bottom-margin: 40px;
    --padding-sm: 5px;
    --padding-md: 10px;
    --margin-sm: 5px;
    --margin-md: 10px;

    /* Background - Original sizes - A4 format */
    --width-main: 595px;
    --height-main: 842px;
    --width-left-bar: 24px;
    --width-right-bar: 12px;
    --basic-shape-width: 400px;
    --basic-shape-height: 200px;
    --footer-height: 38px;

    /* Photo - videos - images */
    --width-photo: 90px;
    --width-video: 84px;
    --height-video: 63px;
    --width-skills: 250px;
    --height-skills: 140px;
    --width-icon: 40px;
    --height-icon: 30px;

    /* Coeff for an easy responsive background - just change that */
    --coeff: 1;
}
/*
@media (max-width: 599px) {
    :root {
        --coeff: 0.5;
    } 
}
*/

@media (min-width: 600px) {
    :root {
        --coeff: 0.75;
    } 
}

@media (min-width: 800px) {
    :root {
        --coeff: 1;
    } 
}

@media (min-width: 1000px) {
    :root {
        --coeff: 1.25;
    } 
}

@media (min-width: 1200px) {
    :root {
        --coeff: 1.5;
    } 
}

@media (min-width: 1400px) {
    :root {
        --coeff: 1.75;
    } 
}